<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Shopping Application Test Suite" parallel="classes" thread-count="5" verbose="2">
    <parameter name="baseUrl" value="https://rahulshettyacademy.com/client/#/auth/login"/>
    <test name="Shopping Tests">
        <classes>
            <!-- <methods>
                <include name="testOrderHistoryNotEmpty" />
            </methods> -->
            <!-- <class name="TestApplication.LoginTest" />
            <class name="TestApplication.ProductTest" />
            <class name="TestApplication.CheckoutTest" />
            <class name="TestApplication.OrderHistoryTest" /> -->
            <class name="TestApplication.ShoppingApplicationTest" />
        </classes>
    </test>
</suite>