<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Shopping Application Test Suite" parallel="false" verbose="2">
    <test name="Shopping Tests">
        <classes>
            <class name="TestApplication.ShoppingApplicationTest">
                <methods>
                    <include name="testUserLogin" />
                    <include name="testAddProductToCart" />
                    <include name="testFilterByPrice" />
                    <include name="testCompleteCheckoutFlow" />
                    <include name="testViewOrderHistory" />
                    <include name="testOrderHistoryNotEmpty" />
                </methods>
            </class>
        </classes>
    </test>
</suite>
